/* NOTE Farbschema */

:root {
    --background: #717e87;
    --action-bar: #314151;
    --timer: #495159;
    --escalation: #d24525;
}


/* NOTE Schriftart */

@font-face {
    font-family: RobotoRegular;
    font-weight: normal;
    src: url(../media/fonts/Roboto/Roboto-Regular.ttf);
}

/* NOTE General */

.no-hyphens {
    -moz-hyphens: none !important;
    -o-hyphens: none !important;
    -webkit-hyphens: none !important;
    -ms-hyphens: none !important;
    hyphens: none !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.pointer:hover {
    cursor: pointer;
}

h1 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


h2 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

a {
    color: white !important;
    text-decoration: none !important;
}

a:hover {
    color: white !important;
    text-decoration: none !important;
}

table td, th {
    border: 1px solid black;
}


table {
    width: 100%;
    border-collapse: collapse;
}

.header_placeholder {
    padding-top: 70px;
}


/* NOTE Body */
html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--background);
    font-family: Roboto, 'Arial', 'sans-serif';
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: white;
}


/* NOTE Header */


.header {
    display: flex;
    width: 100%;
    height: 68px;
    background-color: var(--action-bar) !important;
    position: fixed;
    top: 0;
    z-index: 999;
    color: white;
}

.header_brand {
    padding-left: 20px;
    padding-right: 10px;
    font-size: x-large;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.header_logo {
    max-height: 50px;
}

.header_links {
    display: flex;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.header_links div {
    margin-right: 10px;
    margin-left: 10px;
}

.add-shadow {
    box-shadow: 0px 4px 4px var(--timer);
    transition: 0.5s ease;
}

.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

@media (max-width: 768px) {
    .dropdown-content {
        display: none;
        background-color: var(--action-bar);
        box-shadow: 0px 10px 12px 10px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-bottom: 20px;
    }

    .dropdown-content a {
        padding: 20px;
    }

    .nav__link {
        padding: 20px;
    }

    .dropbtn {
        padding: 20px;
    }
}

@media (min-width: 769px) {
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--action-bar);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
}


.dropdown-content a {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    padding: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.nav {
    position: absolute;
    z-index: 100;
    opacity: 0;
    transition-property: all;
    transition-duration: 300ms;
}

.nav--active .nav {
    opacity: 1;
    background-color: var(--action-bar);
}

.nav__list {
    margin: 0;
    padding: 10px;
}

.nav__item {
    list-style-type: none;
    text-align: left;
    margin-top: 20px;
}

.nav__link {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.nav__trigger {
    display: block;
    position: absolute;
    width: 30px;
    height: 25px;
    right: 10px;
    top: 10px;
    z-index: 200;
}

.nav__icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    transition-property: background-color, transform;
    transition-duration: 300ms;
}

.nav__icon:before,
.nav__icon:after {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    background: #ffffff;
    transition-property: margin, transform;
    transition-duration: 300ms;
}

.nav__icon:before {
    margin-top: -10px;
}

.nav__icon:after {
    margin-top: 10px;
}

.header_small .nav {
    /* transform: rotateZ(-90deg); */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.nav--active .nav {
    transform: rotateZ(0);
}

.nav__link {
    opacity: 1;
}

.nav--active .nav__link {
    opacity: 1;
}

.nav__icon {
    background: rgba(0, 0, 0, 0);
}

.nav__icon:before {
    margin-top: 0;
    transform: rotate(90deg);
}

.nav__icon:after {
    margin-top: 0;
    transform: rotate(180deg);
}


.nav--active .nav__icon {
    transform: rotate(135deg);
}


@media (max-width: 768px) {
    .header_large {
        display: none;
    }
}

@media (min-width: 769px) {
    .header_small {
        display: none;
    }
}



/* NOTE overview */
.overview_light_container {
    display: contents;
}

.overview_light {
    max-height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container_overview {
    min-height: 100vh;
}

.overview_pic {
    max-width: 100%;
    height: auto;
    max-height: 70vh;
    display: flex;
    margin-right: auto !important;
    margin-left: auto !important;
}

@media (max-width: 991px) {
    .overview_table {
        margin-top: 20px;
    }
}



/* NOTE single_view */
.container_single_view {
    min-height: 100vh;
}

.single_pic {
    width: 100%;
    height: auto;
}



/* NOTE live_status */




/* NOTE Footer */
.footer_container {
    min-height: 15vh;
    background-color: var(--action-bar);
}